* {
    font-family: "Arima", system-ui;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d2691e44;
}

header {
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    padding: 3%;
    background-color:#d2691ec2 ;
}

/*Página de inicio*/
nav {
    width: 99.8%;
    border: 2px solid black;
    padding: 40px 0;
    background-color: #17178bee;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 25%;
    font-size: 20px;
    overflow: hidden;
}

nav li {
    display: inline;
    padding: 1%;
    margin: 0;
    margin-right: 10%;
    text-align: center;
}

a {
    color:white;
}

li a:hover{
    color: #d2691ec2;
}

p {
    margin: 0% 20%;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.recuerdos{
    padding: 8%;
    padding-left: 45%;
    padding-top: 5%;
    background-image: url(images/inicio/feria1.jpg);
    background-position: 60% 15%;
    color: white;
}

.diversion{
    padding: 5% 15% 8% 15%;
    background-image: url(images/inicio/feria2.jpg);
    background-position: 42% 20%;
}

.sorpresas{
    padding: 3% 35% 8% 0%;
    text-align: center;
    background-image: url(images/inicio/feria3.jpg);
    background-position: 45% 45%;
    color: #364143;
}

aside{
    background-image: url(images/inicio/fireworks.jpg);
    background-position: 9% 50%;
    text-align: center;
    color: #f5cec6;
    padding: 8% 15% 8% 28%;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    padding: 3%;
}



/*Página de atracciones*/
.container {
    position: relative;
    margin: 0 auto;
}

.slider-atracciones {
    display: flex;
    width: 80%;
    height: 65vh;
    margin: 0 auto 9%;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    border-radius: 5px;
}

.slider-atracciones img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-atracciones-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider-atracciones-nav a {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #f4a460;
}

.slider-atracciones-nav a:hover{
    background-color: #ff6a00c2;
}

/*Página de comentarios*/
.slider-testimonios {
    position: relative;
    margin: 0 auto;
}

.slider-testimonios img{
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    margin: 3% 47% 0%; 
}