* {
    font-family: "Arima", system-ui;
    list-style: none;
}

header {
    text-align: center;
    font-size: 75px;
    font-weight: 700;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
}

#gallery {
    width: 50%;
    height: auto;
    margin-left: 31%;
    overflow: hidden;

    animation: slide 15s infinite alternate ease-in-out;
}

#gallery ul {
    display: flex;
    padding: 0;
    width: 400%;
}

#gallery li {
    width: 100%;
}

@keyframes slice {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}