* {
    font-family: "Arima", system-ui;
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    padding: 3%;
    background-color:#d2691ec2 ;
}

nav {
    width: 99.8%;
    border: 2px solid black;
    padding: 40px 0;
    background-color: #17178bee;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 25%;
    font-size: 20px;
    overflow: hidden;
}

nav li {
    display: inline;
    padding: 1%;
    margin: 0;
    margin-right: 10%;
    text-align: center;
}

a {
    color:white;
}

li a:hover{
    color: #d2691ec2;
}

p {
    margin: 0% 20%;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.recuerdos{
    padding: 8%;
    padding-left: 50%;
    padding-top: 5%;
    background-image: url(images/feria1.jpg);
    background-position: 60% 15%;
    color: white;
}

.diversion{
    padding: 5% 15% 8% 15%;
    background-image: url(images/feria2.jpg);
    background-position: 42% 20%;
}

.sorpresas{
    padding: 3% 35% 8% 0%;
    text-align: center;
    background-image: url(images/feria3.jpg);
    background-position: 45% 45%;
    color: #364143;
}

aside{
    background-image: url(images/fireworks.jpg);
    background-position: 9% 50%;
    text-align: center;
    color: #f5cec6;
    padding: 8% 15% 8% 28%;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    padding: 3%;
}

h2 {
    margin: 2%;
}

#gallery {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #dcdcdc;
}

.slider input {
    visibility: hidden;
    display: none;
}

.buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 100%;
    gap: 15px;
    padding: 0.5%;
}

.buttons label {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 25%;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    transition: 300ms ease-in-out;
}

/*Cuando pasa el cursor por los label, se amplan y se oscurecen*/
.buttons label:hover{
    scale: 1.2;
    opacity: 1;
    width: 40px;
}

/*Se enlazan los input con cada uno de los label*/
.slider input:nth-child(1):checked ~ .buttons label:nth-child(1), 
.slider input:nth-child(2):checked ~ .buttons label:nth-child(2), 
.slider input:nth-child(3):checked ~ .buttons label:nth-child(3),
.slider input:nth-child(4):checked ~ .buttons label:nth-child(4) {
    scale: 1.2;
    opacity: 1;   
}

.images {
    position: relative;
    width: 100%;
    display: flex;
    transition: 400ms ease-in-out;
}

.img1, .img2, .img3, .img4 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider input:nth-child(1):checked ~ .images {
    left: 0vw;
}

.slider input:nth-child(2):checked ~ .images {
    left: -100vw;
}

.slider input:nth-child(3):checked ~ .images {
    left: -200vw;
}

/*#gallery {
    width: 50%;
    height: auto;
    margin-left: 26%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

#gallery ul {
    display: flex;
    padding: 0;
    width: 400%;
}

#gallery li {
    width: 100%;
}

#gallery img {
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}*/
